<header id="main-header">
    <div id="logo">
        <a href="/">MyBlog</a>
    </div>
    <nav>
        <ul>
            <li><a href="">All posts</a></li>
            <li><a href="/create-post">Create Post</a></li>
        </ul>
    </nav>
</header>